<html>
<head></head>
<body>
<table
  border="1"
  width="100%"
  style="table-layout: auto;"
>
  <thead>
  <tr>
    <th>URL</th>
    <th>Status</th>
    <th>Total Time (ms)</th>
    <th>Size (bytes)</th>
    <th>From Link Count</th>
    <th>From Links (First 3)</th>
  </tr>
  </thead>
  <% results.each do |result| %>
    <tr>
      <th><a href="view-source:<%= result[:url] %>"><%= result[:url] %></a></th>
      <th><%= result[:status] %></th>
      <th><%= result[:total_time] %></th>
      <th><%= result[:size] %></th>
      <th><%= result[:from_urls].length %></th>
      <th>
        <% result[:from_urls][0..2].each do |from_url| %>
          <a href="view-source:<%= from_url %>"><%= from_url %></a><br />
        <% end %>
      </th>
    </tr>
  <% end %>
</table>
</body>
</html>
